@import 'bootstrap/bootstrap.less';

@pattern-light-green: #579657;
@pattern-dark-green: #031003;
@bg-dark-green: #001500;
@bg-light-green: #001b00;
@light-yellow: #fce16c;
@yellow: #fccd00;
@brand-primary: @yellow;
@white-text: #f1f1f1;

html{
	background: #001b00; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMWIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMTUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDFiMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #001b00 0%, #001500 50%, #001b00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#001b00), color-stop(50%,#001500), color-stop(100%,#001b00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #001b00 0%,#001500 50%,#001b00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #001b00 0%,#001500 50%,#001b00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #001b00 0%,#001500 50%,#001b00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #001b00 0%,#001500 50%,#001b00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b00', endColorstr='#001b00',GradientType=0 ); /* IE6-8 */

	// background: transparent url('../images/bg-pattern.png') left top repeat;
	body{
		background: transparent url('../images/bg-pattern.png') left top repeat fixed;
	}
}

.btn{
	&.btn-primary{
		color: @bg-dark-green;
	}
}

header{
	@media(min-width: @grid-float-breakpoint){
		padding-top: 40px;
		background: transparent url('../images/chips-top.png') left top no-repeat;
		min-height: 298px;
	}
	nav.navbar{
		margin-bottom: 0;
		@media(min-width: @grid-float-breakpoint){
			//desktop nav
			background: transparent none;
			.reset-filter();
			border: none;
			.navbar-header{
				a.navbar-brand{
					height: auto;
					max-width: 200px;
					padding: 0 15px;
				}
			}
			.navbar-collapse{
				position: relative;
			}
			.btn.pull-right{
				margin-right: -15px;
				margin-top: 38px;
			}
			.navbar-nav:last-child{
				position: relative;
				padding-top: 28px;
				margin-right: 0;
				li{
					a{
						color: @white-text;
					}
				}
			}
		}
		@media(max-width: (@grid-float-breakpoint - 1px)){
			//mobile nav
		}
	}
	@media(min-width: @grid-float-breakpoint){
		& + section{
			margin-top: -158px;
		}
	}
}

section#home-banner{
	padding-top: 0;
	.jumbotron{
		margin-bottom: 0;
		background: transparent;
		.banner-top{
			padding-bottom: 20px;
		}
		.container{
			background: fade(#fff, 30%) url('../images/banner.png') right bottom no-repeat;
			.box-shadow(0 0 12px 4px fade(#fff, 5%));
			color: @white-text;
		}
	}
}

footer{
	padding-top: 40px;
	background-color: #eee;
	background: transparent none;
	.reset-filter();
	border: none;
}

body section{
	padding: 20px 0;
}

//will's styles
.form-group{
	text-align: left;
}

.navbar{
	margin-bottom: 40px;
}

.flush-heading{
	margin-top: 0px;
}

.align-center{
	text-align: center;
	margin-bottom: 20px;
}

.gallery-image{
	margin: 0 auto 20px;
	cursor: pointer;
}

.testimonial-heading {
	margin-bottom: 40px;
	margin-top: -10px;
	text-align: center;
}

.client-logos{
	background-color: gray;
	margin-bottom: 20px;
	;
}

.testimonial-logos{
	margin-top: 20px;
}

.contact-us{
	text-align: center;
}

.galleries-heading{
	margin-bottom: 40px;
	margin-top: -10px;
}

.media{
	margin-bottom: 30px;
}

.faq-paragraph{
	margin-bottom: 30px;
}

.party-types{
	text-align: center;
	background-color: gray;
}

.client-comment{
	color: white;
}

.carousel-background{
	background-color:gray;
}

.paragraph-margin{
	margin-bottom: 20px;
	margin-right: 40px;
	margin-left: 20px;
}

form h3:first-child{
	margin-top: 0;
}