@import 'bootstrap/bootstrap.less';

@pattern-light-green: #579657;
@pattern-dark-green: #031003;
@bg-dark-green: #001500;
@bg-light-green: #001b00;
@light-yellow: #fce16c;
@yellow: #fccd00;
@red: #bb212e;
@brand-primary: @yellow;
@white-text: #f1f1f1;

@headings-font-family: 'Fjalla One', 'Helvetica Neue', Helvetica, sans-serif;
@headings-color: @red;

html{
	background: #001b00; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMWIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMTUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDFiMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #001b00 0%, #001500 50%, #001b00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#001b00), color-stop(50%,#001500), color-stop(100%,#001b00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #001b00 0%,#001500 50%,#001b00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #001b00 0%,#001500 50%,#001b00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #001b00 0%,#001500 50%,#001b00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #001b00 0%,#001500 50%,#001b00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b00', endColorstr='#001b00',GradientType=0 ); /* IE6-8 */

	// background: transparent url('../images/bg-pattern.png') left top repeat;
	body{
		background: transparent url('../images/bg-pattern.png') left top repeat fixed;
	}
}

.btn{
	&.btn-primary{
		color: @bg-dark-green;
	}
}

header{
	background: transparent url('../images/chips-top.png') left top no-repeat;
	min-height: 298px;
	.navbar-header{
		a.navbar-brand{
			height: auto;
			max-width: 200px;
			padding: 0 15px;
		}
	}
	nav.navbar{
		margin-bottom: 0;
		background: transparent none;
		.reset-filter();
		border: none;
		@media(min-width: @grid-float-breakpoint){
			//desktop nav
			.btn.pull-right{
				margin-right: -15px;
				margin-top: 38px;
			}
			.navbar-nav:last-child{
				position: relative;
				padding-top: 28px;
				margin-right: 0;
				li{
					a{
						color: @white-text;
					}
				}
			}
		}
		@media(max-width: (@grid-float-breakpoint - 1px)){
			//mobile nav
		}
	}
	& + section{
		margin-top: -158px;
	}
	@media(min-width: @grid-float-breakpoint){
		padding-top: 40px;
	}
}

section#home-banner{
	padding: 0;
	.jumbotron{
		margin-bottom: 0;
		background: transparent url('../images/banner-alt.png') right bottom no-repeat;
		background-size: contain;
		.banner-top{
			.inner{
				color: @white-text;
				h2{
					margin-bottom: 60px;
					color: @white-text;
				}
				.logo-bar{
					padding-top: 40px;
				}
				@media(min-width: @screen-md-min){
					padding: 40px 30px 40px;
				}
			}
		}
		@media(max-width: @screen-sm-max){
			padding: 0;
		}
	}
}

section#intro{
	background: @white-text;
	border: 4px solid @yellow;
	border-width: 4px 0;
	background: @white-text url('../images/cards.png') left top no-repeat;
	// margin-bottom: 48px;
	.inner{
		text-align: center;
		h1{
			font-size: 46px;
		}
		.faux-heading{
			display: inline-block;
			padding-bottom: 4px;
			border-bottom: 2px solid @bg-dark-green;
			margin-bottom: 20px;
		}
		img{
			margin: 0 auto;
			padding: 20px 0;
		}
	}
}

section#home-tertiary{
	padding-top: 88px;
}

div.stretch{
	height: 400px;
	background: red;
}

footer{
	padding-top: 40px;
	background-color: #eee;
	background: transparent none;
	.reset-filter();
	border: none;
	background: transparent url('../images/chips-bottom.png') right bottom no-repeat;
	min-height: 298px;
}