.jumbotron{
	text-align: center;
}

.form-group{
	text-align: left;
}

.navbar{
	margin-bottom: 40px;
}

.flush-heading{
	margin-top: 0px;
}

.align-center{
	text-align: center;
	margin-bottom: 20px;
}

.gallery-image{
	margin-bottom: 20px;
}

.image-wrapper img{
	margin: 0 auto 20px;
}