@import 'bootstrap/bootstrap.less';

html{
	background: #eee;
	body{

	}
}

nav.navbar{
	margin-bottom: 0;
}

section#home-banner{
	padding-top: 0;
	.jumbotron{
		margin-bottom: 0;
		.banner-top{
			padding-bottom: 20px;
		}
	}
}

footer{
	padding-top: 40px;
	background-color: #eee;
}

body section{
	padding: 20px 0;
}

//will's styles
.form-group{
	text-align: left;
}

.navbar{
	margin-bottom: 40px;
}

.flush-heading{
	margin-top: 0px;
}

.align-center{
	text-align: center;
	margin-bottom: 20px;
}

.gallery-image{
	margin: 0 auto 20px;
	cursor: pointer;
}

.testimonial-heading {
	margin-bottom: 40px;
	margin-top: -10px;
	text-align: center;
}

.client-logos{
	background-color: gray;
	margin-bottom: 20px;
	;
}

.testimonial-logos{
	margin-top: 20px;
}

.contact-us{
	text-align: center;
}

.galleries-heading{
	margin-bottom: 40px;
	margin-top: -10px;
}

.media{
	margin-bottom: 30px;
}

.faq-paragraph{
	margin-bottom: 30px;
}

.party-types{
	text-align: center;
	background-color: gray;
}

.client-comment{
	color: white;
}

.carousel-background{
	background-color:gray;
}

.paragraph-margin{
	margin-bottom: 20px;
	margin-right: 40px;
	margin-left: 20px;
}

form h3:first-child{
	margin-top: 0;
}