.jumbotron{
	text-align: center;
}

.form-group{
	text-align: left;
}

.navbar{
	margin-bottom: 40px;
}

.flush-heading{
	margin-top: 0px;
}

.align-center{
	text-align: center;
	margin-bottom: 20px;
}

.gallery-image{
	margin-bottom: 20px;
}

.image-wrapper img{
	margin: 0 auto 20px;
}

.testimonial-heading {
	margin-bottom: 40px;
	text-align: center;
}

.client-logos{
	background-color: gray;
	margin-bottom: 20px;
	;
}

.testimonial-logos{
	margin-top: 20px;
}

.contact-us{
	text-align: center;
}

.galleries-heading{
	margin-bottom: 40px;
	margin-top: -10px;
}

.media{
	margin-bottom: 30px;
}

.faq-paragraph{
	margin-bottom: 30px;
}

.party-types{
	text-align: center;
	background-color: gray;
}

.client-comment{
	color: white;
}

.carousel-background{
	background-color:gray;
}

.paragraph-margin{
	margin-bottom: 20px;
	margin-right: 40px;
	margin-left: 20px;
}

}
}